.portfolioSection {
	background-color: #ffdd99;
} 

.portfolioSection h2, .portfolioSection .h2Text, .portfolioSection h3 {
	color: #393939;
}

.portfolioNav {
	display: flex;
	padding: 0;
	list-style-type: none;
	justify-content: center;
	margin-top: 42px;
	margin-bottom: 65px;
	li {
		text-transform: uppercase;	
	}
	button {
		border: none;
		background-color: rgba(0, 0, 0, 0.08);
		width: 84px;
		height: 38px;
		border-radius: 4px;
	}
}

.portfolioNav button:hover {
	background-color: #ffffff;
}

.portfolioNav button:not(:last-of-type) {
	margin-right: 10px;
}

.portfolioDiv {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    h3 {
    	text-transform: uppercase;
    	font-size: 18px;
    	font-weight: 400;
    	text-align: center;
    }
}

.portfolio {
	margin-bottom: 64px;
}

.portfolioLeft {
	margin-right: 20px;
}