.servicesSection {
	background-color: #17c2a4;
} 

.servicesDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 118px;
	padding: 0 14.2%;
}

.service {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 128px;
}

.service:not(:last-of-type) {
	margin-right: 97px;
}

.serviceImage {
	width: 150px;
	height: 150px;
}

.service h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 27px;
}

.service h3:last-of-type {
	white-space: nowrap;
}

.service p {
	font-size: 16px;
	margin-top: 0;
}

.service h3, p {
	text-align: center;
	color: #ffffff;
}