.skillsSection {
	background-color: #ffffff;
	padding-bottom: 122px;
	h2, .h2Text, .percentage, .skillTitle {
		color: #3c4761;
	}
} 

.skillsDiv {
	display: flex;
	justify-content: center;
}

.skillContainer:not(:last-of-type) {
	margin-right: 120px;
	margin-left: 0;
}

.skillVisual {
	background-repeat: no-repeat;
	background-size: cover;
	width: 160px;
	height: 160px;
	z-index: -1;
}

.skillVisual1 {
	background-image: url('../../assets/progressBlue.png');
}

.skillVisual2 {
	background-image: url('../../assets/progressPink.png');
}

.skillVisual3 {
	background-image: url('../../assets/progressGreen.png');
}

.skillVisual4 {
	background-image: url('../../assets/progressOrange.png');
}

.percentage {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 50px;
}

.skillTitle {
	font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}