.skills {
	background-color: #ffffff;
	padding-bottom: 122px;
	h2, .skillsInfo {
		color: #3c4761;
	}
}

.skillsStats {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.statVisual h3 {
	text-align: center;
    text-transform: uppercase;
    color: #3c4761;
    font-size: 24px;
    letter-spacing: 2px;
    white-space: nowrap;
}

.statVisual {
	line-height: 1;
}

.statVisual1, .statVisual2, .statVisual3 {
	margin-right: 120px;
}

.statVisual1 {
	margin-left: 220px;
}

.statVisual4 {
	margin-right: 220px;
}


.skillsImage {
	z-index: -1;
	transform: translateY(-50%);
}

.percentage {
	text-align: center;
    position: relative;
    top: 24%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 50px;
}

.percentage70 {
	left: -8%;
}