 .teamSection {
 	background-color: #e7f1f8;
 	padding-bottom: 128px;
 }

 .teamSection h2, .teamSection .h2Text {
 	color: #3c4661;
 }

 .teamDiv {
 	display: flex;
 	margin: 0 13.9%;
 	justify-content: center;
 	margin-top: 78px;
 }

 .teamMember {
 	width: 25%;
 }

.teamMember {
	margin: 0 5.6%;
}

.teamDiv h3 {
	color: #27283d;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.teamDiv h3:first-of-type {
	white-space: nowrap;
}

.teamDiv h4 {
	color: #30bae7;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 15px;
}

.teamDiv p {
	color: #3c4761;
	font-size: 16px;
	text-align: center;
}

.socialMediaIcons {
	display: flex;
	justify-content: center;
}

.socialMediaIcons img:not(:last-of-type) {
	margin-right: 12px;
}








