 .testimonialSection {
 	background-color: #d74680;
 }

 .testimonialsDiv {
 	display: flex;
 	flex-wrap: wrap;
 	padding-bottom: 133px;
 	margin-top: 82px;
 }

 .testimonial {
 	display: flex;
 	justify-content: center;
 	width: 50%;
 	margin-bottom: 158px;
 }

 .circle {
 	background-color:  #787878;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	display: inline-block;
 }

 .testimonialText {
 	width: 70%;
 	padding-left: 48px;
 }

 .testimonial h3, .quote, .quoteAuthorPosition {
 	text-align: left;
 	margin: 0;
 }

 .quote {
 	font-style: italic;
 	margin-bottom: 28px;
 	font-size: 21px;
 }

 .testimonialText h3 {
 	text-transform: uppercase;
 	margin-bottom: 9px;
 	color: #ffffff;
 	letter-spacing: 1px;
 	font-size: 24px;
 	font-weight: 700;
 }

 .quoteAuthorPosition {
 	color: #ffdd99;
 	font-size: 18px;
 }