@import "partials/setup";
@import "partials/variables";
@import "partials/header";
@import "partials/services";
@import "partials/team";
@import "partials/skills";
@import "partials/portfolio";
@import "partials/testimonials";
@import "partials/footer";

//general styles

body {
	margin: 0 auto;
	max-width: 100%;
	font-family: 'Titillium Web', sans-serif;
}


//all h2's and lorem directly underneath
h2 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 48px;
	margin-top: 0;
	padding-top: 119px;
	text-transform: uppercase;
}

h2:after {
	display: block;
	content: '';
	position: absolute;
	margin-top: 21px;
	margin-bottom: 23px;
	left: 47%;
	background-color: rgba(0, 0, 0, 0.15);
	width: 87px;
	height: 4px;
}


.h2Text {
	font-size: 18px;
	font-weight: 400;
	padding: 0 15px;
}

h2, .h2Text {
	color: #ffffff;
	text-align: center;
}

//general styles of all larger buttons

.buttonGeneral {
	width: 293px;
	height: 70px;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
}

//media queries begins

@media (max-width: 1250px) {
  .servicesDiv {
  	flex-direction: column;
  	align-items: center;
  }
  .service {
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 128px;
    width: 50%;
    margin-right: 0;
  }
  .serviceImage {
  	    width: 100%;
  	    transform: translateX(50%);
  }

  .serviceText {
  	width: 100%;
  }
  //team members section
  .teamDiv {
  	flex-direction: column;
    align-items: center;
  }
  .teamMember {
  	margin: 20px;
  	width: 100%;
  }
  .teamPhoto {
  	display: flex;
    justify-content: center;
  }
  //skills section
  .skillsDiv {
  	    flex-direction: column;
    	align-items: center;
  }
  .skillContainer:not(:last-of-type) {
  	margin: 0;
  }
}

@media (max-width: 900px) {
	.portfolio img {
		width: 450px;
	}
	.formNameEmail {
		display: flex;
	    justify-content: center;
	    flex-direction: column;
	}
	.formMessage textarea {
		width: 414px;
	}
	.footerNav {
		visibility: hidden;
	}
}







